/* GENERAL */

@import "https://use.typekit.net/gby3wag.css";

body {
    background-color: #232323;
    color: #e3e3e3;
    margin: 0;
    font-family: jaf-domus, sans-serif;
}

a {
    color: #e3e3e3;
    text-decoration: none;
}

a:hover, a:active {
    color: #a526c4;
}

input[type=text],  input[type=password] {
    border: none;
    background-color: #434343;
    margin-bottom: 10px;
    padding: 10px;
    color: #e3e3e3;
    border-radius: 5px;
}

input[type=submit] {
    border: none;
    background-color: #636363;
    padding: 10px;
    color: #e3e3e3;
    border-radius: 5px;
}

input[type=submit]:hover {
    border: none;
    background-color: #e3e3e3;
    padding: 10px;
    color: #a526c4;
}

.checkbox {
    margin: 0px;
    margin-bottom: 5px;
}

.checkbox label{
    color: #a3a3a3;
}

code {
    background-color:#434343;
    padding: 3px;
    border-radius: 3px;
}

.helptip {
    margin-top: 3px;
    font-style: italic;
    color: #a3a3a3;
    font-size: .9em;
}

.warning {
    color: #f00;
}

hr {
    height: 3px;
    border:none;
    background-color: #636363;
    margin-top: 20px;
}

/* HEADER & MENU */

#header {
    background-color: #434343;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 45px;
    box-shadow: 0px 5px 5px rgba(0,0,0, 0.15);
}

#header p {
    margin: 0;
}

#menu {
    display: block;
    position: absolute;
    top: 0px;
    right: 10px;
}

#menu ul {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

#menu ul li {
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

/* CONTENT */

#content {
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  width: 100%;
}

/* LOGIN & MAINTENANCE */

#welcome {
    text-align: center;
    padding: 50px;
}

#maintenance {
    max-width: 1280px;
    margin-left:auto;
    margin-right:auto;
    
    margin-top: 20px;
    text-align: center;
}

#login {
    max-width: 1280px;
    margin-left:auto;
    margin-right:auto;
    
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

/* ACCOUNT */

#account {
    max-width: 1280px;
    margin-left:auto;
    margin-right:auto;
}

#user-url p {
    margin: 10px;
}

#user-url code {
    padding: 7px;
}

#account form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-top: solid 3px #636363;
    padding-top: 20px;
}

/* ADMIN */

#admin {
    max-width: 1280px;
    min-width: 400px;
    margin-left:auto;
    margin-right:auto;
}

#admin form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-top: solid 3px #636363;
    padding-top: 20px;
}

form#user-list {
    flex-direction: row;
}

form#user-list input {
    height: 100%;
    margin-right: 5px;
}